<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pizzaexpress">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/pizza_express"
        android:label="@string/app_name"
        android:roundIcon="@drawable/pizza_express"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".DialogQuantityActivity"/>

        <activity android:name=".Pizza4_PrawnwithChickenBacon" />
        <activity android:name=".Pizza3_SuperSupreme" />
        <activity android:name=".Pizza2_MeatLoversChicken" />
        <activity android:name=".Pizza1_sausageDelight" />
        <activity android:name=".Favourites" />
        <activity android:name=".CategoryPizza" />
        <activity android:name=".Account" />
        <activity android:name=".MyProfile" />
        <activity android:name=".OrderHistory" />
        <activity android:name=".Home" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MyCart"/>
        <activity android:name=".CategorySides"/>
        <activity android:name=".AboutUs"/>
        <activity android:name=".Sides1_chickenWingsBbq"/>

        <activity android:name=".OrderReview"/>
        <activity android:name=".OrderDelivery"/>
        <activity android:name=".SelectedItems"/>
        <activity android:name=".Feedback"/>
        <activity android:name=".RateUs"/>
        <activity android:name=".Beverages"/>
        <activity android:name=".CategoryBeverages"/>

        <activity android:name=".ValueOffers"/>
        <activity android:name=".Login"/>

        <activity android:name=".Dessert" />
        <activity android:name=".Register" />
        <activity android:name=".Displayed_Option_list" />
        <activity android:name=".Dessert6_whoopie" />
        <activity android:name=".Dessert5_stick" />
        <activity android:name=".Dessert4_mooncake" />
        <activity android:name=".Dessert3_banoffee" />
        <activity android:name=".Dessert2_macaroon" />
        <activity android:name=".Dessert1_lava" />
        <activity android:name=".Offer3Options" />
        <activity android:name=".Offer2Options" />
        <activity android:name=".Offer1Options" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>